.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.intro {
  height: 400px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.Judul {
  /* Ukuran Font */
  font-size: 3rem;
  /* Ketebalan Font */
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}

.myBg {
  height: 100vh;
  background: url("./asset/images/main.jpg");

  background-size: cover;
  color: aliceblue;
}

.movie-app > .row::-webkit-scrollbar {
  display: none;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  cursor: pointer;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  color: aliceblue;
  position: absolute;
  left: -15px;

  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 20px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
