/* Menghilangkan Terlebih Dahulu Image Portofolio Lalu Memunculkannya Lagi */
body {
  background-image: url("./Fade-In-Background.svg");

  background-attachment: fixed;
  background-size: cover;
}
.modal-content {
  background-image: url("./Live-Motion-Background.svg");

  background-attachment: fixed;
  background-size: cover;
}

.cover {
  background-image: url("https://img.freepik.com/premium-vector/astrocat-slogan-with-cute-cat-astronaut-helmet-illustration_241806-173.jpg?size=338&ext=jpg&ga=GA1.2.1833429700.1666169274");

  background-attachment: fixed;
  background-size: 60%;
  background-repeat: no-repeat;
}

.portofolio .img-thumbnail {
  opacity: 0;
  transform: translate(0, -40px);
  transition: 0.5s;
}

.portofolio .img-thumbnail.muncul {
  opacity: 1;
  transform: translate(0, 0);
}
.row img {
  width: 90%;
  height: 80%;
}
.contact {
  min-height: 500px;
}
footer {
  position: absolute;
  bottom: 1;
  width: 100%;
  min-height: 100px;
  background-color: #333;
  padding-top: 20px;
}
footer p {
  color: #aaa;
  font-size: 0, 9em;
}
.navbar-brand {
  position: relative;
}

/* Pagination component CSS */

.pagination {
  color: aliceblue;
  margin: 15px auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #fff;
  border-color: black;
  color: black;
}
.pagination > li > a {
  border: 1px solid #fff;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  border-color: #fff;
  outline: none;
  color: black;
}
.pagination > li > a,
.pagination > li > span {
  color: black;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
